.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    resize: vertical;
}

.form-group button {
    background-color: #872341;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #22092C;
}

.content {
    padding: 20px;
}

.contact-body{
    /* background-image: url(https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166910.jpg); */
    background-image: linear-gradient(to bottom right, #872341, #22092C);
    background-blend-mode: lighten;
    color: white;    
    opacity: 0.9;
}