.header-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F05941;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;

}

.latest-blog-section {
    /* border: 3px solid white; */
    /* border-top: 1px solid #F05941;
    border-bottom: 1px solid #F05941; */
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: aliceblue; */
}

.custom-card {
    height: 300px;
    width: 300px;
    background-color: #F05941;
    margin: 20px 50px;
}

.custom-card:hover {
    scale: 1;
    box-shadow: 0 4px 8px 0 #F05941, 0 6px 20px 0 #F05941;
    /* box-shadow: 1px 1px 5px 1px white; */

}

.header-box p {
    width: 60%;
    padding: 40px 20px;
}

.content-title {
    font-size: 2em;
    margin: 20px;
}

.additional-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.additional-content p {
    width: 60%;
    text-align: center;
}

.hr-2 {
    border: 2px solid #F05941;
}

video {
    width: 75%;
    margin: 30px;
    top: 0;
    left: 0;
    /* z-index: -1; Place the video behind other content */
}

.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px
}

.our-team-text {
    text-align: center;
    font-size: large;
    width: 75%;
}

.subscribe-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    width: 100%;
}

.subscribe-split-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    margin-top: 40px;
    border: 5px solid #F05941;
    padding: 20px 0;
}
.subscribe-split-section:hover {
    scale: 1;
    box-shadow: 0 4px 8px 0 #F05941, 0 6px 20px 0 #F05941;
    /* box-shadow: 1px 1px 5px 1px white; */
}

.subscribe-group {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 20px 80px;
    
}

.subscribe-group form {
    display: flex;
    width: 300px;
    /* margin: 50px 100px; */
    flex-direction: column;
    align-items: center;
}



.subscribe-group .input-box {
    outline: #FFF 1px;
    border-radius: 15px;
    border: #F05941 2px solid;
    padding: 10px;
    width: 300px;
    margin: 15px 0;
}



.subscribe-btn{
    margin: 35px;
    padding: 10px 25px;
    border: 1px #F05941 solid;
    background-color: #F05941;
    border-radius: 25px;
    color: #fff;
}

.subscribe-group > form > span{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}


.subscribe-btn:hover{
    background-color: #fff;
    color: black;
    scale: 1.1;
}

.subscribe-group > ul{
    padding-bottom: 0px;
}
.subscribe-group > ul > span{
    font-size: 2rem;
   
}
.subscribe-group > ul > li {
    font-size: 1.5rem;
  }
.subscribe-group ul > li:before {
    content: '✔ ';
    color: #F05941;
    padding: 0 5px;
  }

@media (max-width: 759px) {
    .latest-blog-section {
        margin: 10px 0px;
        padding: 10px 25px;
    }

    .header-box {
        padding: 40px 0px;
    }

    .header-box p {
        width: 100%;
        padding-top: 20px;
        font-size: small;
    }

    .content-title {
        font-size: larger;
        margin: 20px;
    }

    .our-team {
        margin-top: 10px;
        padding: 0px;

    }

    video {
        width: 100%;
    }

    .our-team-text {
        font-size: small;
        width: 100%;
    }
    
    

    .subscribe-split-section {
        margin-top: 10px;
        padding: 0;
        
    }
    .subscribe-group{
        margin: 0px 20px;
    }

    .subscribe-group form {
        display: flex;
        width: 200px;
        margin: 20px 20px;
        flex-direction: column;
        align-items: center;
    }

    .subscribe-group .input-box {
        outline: #FFF 1px;
        border-radius: 15px;
        border: #F05941 2px solid;
        padding: 10px;
        width: 300px;
        margin: 15px 0;
    }

    .subscribe-group > form > span{
        font-size: 1.2em
    }

    .subscribe-group > form > label {
        padding-left: 20px;
        margin: 0;
        font-size:small;
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        width: 300px;
    }
    .subscribe-group > form > label > input {
        position: relative;
        top: 1px;
        right: 8px
    }

    .subscribe-group > ul {
        margin-top: 30px;
        padding: 0; 
    }

    .subscribe-group > ul > span {
        font-size: 1.2em;
    }

    .subscribe-group > ul > li {
        font-size: 1rem;
        width: 300px;
    }

    

    
    
}

@media (max-width: 1459px) {
    .header-box p {
        width: 90%;
        margin: 10px 0px;
    }
}