.footer-box{
    margin: 2rem;
}
  .company-info {
    max-width: 800px;
    margin: 0 auto;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  .footer {
    background-color: #872341;
    padding: 20px;
    text-align: center;
    position:static;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }