.home-body{
    /* background-image: url(https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166910.jpg); */
    background-image: linear-gradient(to bottom right, #872341, #22092C);
    background-blend-mode: lighten;
    color: white;    
    opacity: 0.9;
}