.read-btn{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    text-align: center;
    border-radius: 30px;
    background-color: #F05941;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    outline: none;
}

.read-btn:hover{
    text-decoration: none;
    background-color: white;
    color: black;
}